@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#8ce1ff" >

    <h1>Valecha Institution</h1>
    <p class="lead">Welcome to Valecha Institution.</p>
    <p></p>
</div>

<div class="row" >
    <div class="col-md-4" >
       <p><a class="btn btn-default" style="background-color:greenyellow"  @Html.ActionLink("About Us", "About", "Home" )</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" style="background-color:greenyellow" @Html.ActionLink("Contact Us", "Contact", "Home")</a></p>
    </div>
 </div>